<h3>My Shopping Cart<span class="pull-right">Order Total: {{total | currency}}</span></h3>


  <div class="clearfix"></div>

  <table class="table table-striped table-bordered">
  	<thead>
  		<tr>
  			<th>Product</th>
  			<th>Quantity</th>
  			<th>Subtotal</th>
  			<th></th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr ng-repeat="tea in cart">
  			<td class="col-md-5">
  				<h3>{{tea.name}}</h3>
  				<img ng-src="{{tea.imageUrl}}" alt="photo of {{tea.name}}" class="img-responsive"/>
					<p><strong>Caffeine Scale: </strong>{{tea.caffeineScale}}</p>
  				<p><strong>Ingredients: </strong>{{tea.ingredients}}</p>
  				<p><strong>Rating: </strong>{{tea.rating}}</p>
  			</td>
  			<td class="col-md-3">
  				<span ng-if="!canEdit">{{tea.quantity}}</span>
  				<span ng-if="canEdit"><input type="number" min="0" ng-model="tea.newQty" ng-click="editQty(tea, tea.newQty)"></span>
  			</td>
  			<td class="col-md-2">
  				<h4>{{tea.subtotal | currency}}</h4>
				</td>
				<td class="col-md-2">
				<button type="submit" ng-show="edit" ng-click="edit(tea)" class="btn btn-warning">Edit</button>
				<button type="submit" ng-hide="save" ng-click="saveTotal(tea)" class="btn btn-success">Save</button>
				<button type="submit" ng-click="" class="btn btn-danger">Remove</button>
  			</td>
  		</tr>
  	</tbody>
  </table>


