	<div class="row">
		<p>Search By Category:
		<select ng-model="searchCategory">
			<option></option>
		  <option ng-repeat="category in categories">{{category}}</option>
		</select>
		<label>Search By Name: <input ng-model="search.name"></label>
    <span class="pull-right">
      <a href="#/cart"><button type="submit" class="btn btn-warning"><strong>Checkout</strong> | Bag:
      	<span ng-if="cart.length==0">Empty</span>
  			<span ng-if="cart.length>0">{{cart.length}}</span>
      </button></a>
    </span></p>
	</div>

  <div class="clearfix"></div>

  <table class="table table-striped table-bordered">
  	<thead>
  		<tr>
  			<th>Tea</th>
  			<th>Information</th>
  			<th>Sort By Price:
  				<select ng-model="sortChoice">
            <option value="-price">Highest</option>
            <option value="price">Lowest</option>
          </select>
        </th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr ng-repeat="tea in teas | filter:searchCategory | filter:search | orderBy:sortChoice">
  			<td class="col-md-3"><img ng-src="{{tea.imageUrl}}" alt="photo of {{tea.name}}" class="img-responsive"/></td>
  			<td class="col-md-6">
  				<h3>{{tea.name}}</h3>
  				<p><strong>Price: </strong>{{tea.price/100 | currency}}</p>
  				<p><strong>Caffeine Scale: </strong>{{tea.caffeineScale}}</p>
  				<p><strong>Ingredients: </strong>{{tea.ingredients}}</p>
  				<p><strong>Rating: </strong>{{tea.rating}}</p>
  				<p><strong>In Stock?: </strong>
  					<span ng-if="tea.inStock==true">Yes</span>
  					<span ng-if="tea.inStock==false">Out of Stock</span>
  				</p>
  				<p><strong>Categories: </strong>
  					<ul ng-repeat="category in tea.categories">
  						<li>{{category}}</li>
  					</ul>
  				</p>
  			</td>
  			<td class="col-md-3">
  				<h3>Quantity:
  					<span>
  						<select ng-model="quantity">
								<option></option>
		  					<option ng-repeat="qty in quantities">{{qty}}</option>
							</select>
							<button type="submit" ng-click="addToCart(tea, quantity)" class="btn btn-success">Add to Cart</button>
						</span>
					</h3>
				</td>
  		</tr>
  	</tbody>
  </table>

